<h2>Contact</h2>
<app-new-message (out)="onAdd($event)"></app-new-message>

<h3 *ngIf="isUserAdmin()">Liste des messages</h3>
<div class="filter" *ngIf="isUserAdmin()">
    <label for="etat">Etat : </label>
    <select id="etat" [(ngModel)]="etat" (change)="onEtatChange($event.target.value)">
    <option value="all">Tous les états</option>
    <option value="true">Fait</option>
    <option value="false">A faire</option>
    </select>
</div>
<p *ngIf="isUserAdmin() && messageList.length==0">Aucun message ne possède cet état</p>
<table *ngIf="isUserAdmin() && messageList.length!=0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>User</th>
            <th *ngIf="etat=='all'">Etat</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let message of messageList">
            <td>{{message.id}}</td>
            <td>{{message.message}}</td>
            <td>{{message.user.username}}</td>
            <td *ngIf="etat=='all'">{{message.done?"Fait ✔":"À faire ❌"}}</td>
            <td><button class="orange" (click)="updateMessage(message)"><span *ngIf="message.done">À faire</span><span *ngIf="!message.done">Fait</span></button><button class="red" (click)="deleteMessage(message)">Supprimer</button></td>
        </tr>
    </tbody>
</table>

