<h2>Changement de mot de passe</h2>
<div class="add">
    <form [formGroup]="pwdForm" (ngSubmit)="changePassword()">
        <div class="field"><label for="oldPwd">Ancien mot de passe</label><br><input type="password" id="oldPwd" formControlName="oldPwd"></div>
        <div class="field"><label for="newPwd">Nouveau mot de passe</label><br><input type="password" id="newPwd" formControlName="newPwd"></div>
        <div class="field"><label for="confirmation">Confirmer le mot de passe</label><br><input type="password" id="confirmation" formControlName="confirmation"></div>
        <br>
        <p class="erros" *ngIf="error != null">{{error}}</p>
        <button type="submit" class="blue">Enregistrer</button>
    </form>
    <div class="errors">
        <ul>
            <li *ngIf="pwdForm.controls.oldPwd.touched && pwdForm.controls.oldPwd.hasError('required')">L'ancien mot de passe est requis</li>
            <li *ngIf="pwdForm.controls.newPwd.touched && pwdForm.controls.newPwd.hasError('required')">Le nouveau mot de passe est requis</li>
            <li *ngIf="pwdForm.controls.confirmation.touched && pwdForm.controls.confirmation.hasError('required')">La confirmation du nouveau mot de passe est requis</li>
        </ul>
    </div>
</div>
