<h2>Connexion</h2>
<div class="add">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <div class="field">
            <label for="pseudo" class="label">Pseudo</label><br>
            <input type="text" name="pseudo" id="pseudo" autocomplete="new-username" placeholder=" " formControlName="username">
            
        </div>
        <div class="field">
            <label for="password" class="label">Mot de passe</label><br>
            <input
            type="password"
            name="email"
            class="input"
            autocomplete="new-password"
            placeholder=" " formControlName="password">
          
          
        </div>
    
        
        <p *ngIf="error != null">{{error}}</p> 
        <div class="flex-center"><button type="submit" class="green" [disabled]="signInForm.invalid">Se connecter</button></div>
        <div class="flex-center"><button class="blue" routerLink="/register">Pas encore inscrit ?</button></div>

    </form>
    <div class="errors">
        <ul>
            <li *ngIf="signInForm.controls.username.touched && signInForm.controls.username.hasError('required')">Le pseudo est requis</li>
            <li *ngIf="signInForm.controls.password.touched && signInForm.controls.password.hasError('required')">Le mot de passe est requis</li>
        </ul>
    </div>
    
</div>
